<app-header title="Informacion de la tarifa"></app-header>

<ion-content *ngIf="tarifa">

  <ion-card>
    <ion-icon name="logo-snapchat"></ion-icon>
      <ion-card-header>
          <ion-card-title> <strong>Fecha de inicio de la tarifa: </strong> {{tarifa.fechaInicio}} </ion-card-title>
          <ion-card-title> <strong>Consumo Maximo: </strong> {{tarifa.consumoMaximo}} </ion-card-title>
          <ion-card-title> <strong>Costo Unitario: </strong> {{tarifa.costoUnitario}} </ion-card-title>
      </ion-card-header>
  </ion-card>


</ion-content>

<ion-content *ngIf="!tarifa">

  <ion-card>
      <ion-card-header>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
      </ion-card-header>
  </ion-card>

</ion-content>
