<app-header title="Informacion del socio"></app-header>

<ion-content *ngIf="socio">

    <ion-card>
        <div class="img-container">
            <img alt="Silhouette of mountains" src="{{socio.foto}}" width="100" height="100" />
        </div>
        <ion-card-header>
            <ion-card-title> <strong>Nombres: </strong> {{socio.nombres}} </ion-card-title>
            <ion-card-title> <strong>Apellidos: </strong> {{socio.apellidos}} </ion-card-title>
            <ion-card-title> <strong>Correo: </strong> {{socio.correo}} </ion-card-title>
            <ion-card-title> <strong>Fecha de nacimiento: </strong> {{socio.fechaNacimiento}} </ion-card-title>
            <ion-card-title> <strong>Direccion: </strong> {{socio.direccion}} </ion-card-title>
            <ion-card-title> <strong>Cantidad de medidores: </strong> {{totalMedidores}} </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <div class="ion-padding">
            <ion-button color="success" expand="block" type="submit" class="ion-no-margin" routerLink="/crearmedidor/{{socio.idSocio}}">
                <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                Asignar medidor
            </ion-button>
        </div>
    </ion-card>

    <ion-card>
        <div class="ion-padding">
            <ion-button *ngIf="totalMedidores>0" color="danger" expand="block" (click)="borrarConfirm(socio.idSocio)" class="ion-no-margin">
                <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
                Eliminar todos sus medidores
            </ion-button>
        </div>
    </ion-card>

</ion-content>

<ion-content *ngIf="!socio">

    <ion-card>
        <div class="img-container">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" width="100" height="100" />
        </div>
        <ion-card-header>
            <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
            <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
            <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
            <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
            <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>

