<app-header title="Lista de comunicados"></app-header>

<ion-content>

    <ion-card *ngFor="let comunicado of comunicados">

        <ion-item-sliding>

            <!-- Ver detalles -->
            <ion-item-options side="start">
                <ion-item-option routerLink="/detallecomunicado/{{comunicado.id}}">
                    <ion-icon name="eye" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <!-- Datos comunicado -->
            <ion-item>
                <ion-icon name="clipboard-outline" slot="icon-only"></ion-icon>
                <ion-label>
                    {{comunicado.descripcion}}
                </ion-label>
            </ion-item>


            <ion-item-options side="end">
                <!-- Editar -->
                <ion-item-option color="warning" routerLink="/editarcomunicado/{{comunicado.id}}">
                    <ion-icon name="create" slot="icon-only"></ion-icon>
                </ion-item-option>

                <!-- Eliminar -->
                <ion-item-option color="danger" (click)="borrarConfirm(comunicado.id)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>

        </ion-item-sliding>

    </ion-card>

    <div class="ion-padding">
        <ion-button [disabled]="!estado" color="success" expand="block"
            (click)="imprimir()"
            type="submit" class="ion-no-margin">
            <ion-icon name="download-outline" slot="icon-only"></ion-icon>
            Imprimir lista
        </ion-button>
    </div>

</ion-content>