<app-header title="Informacion de la solicitud"></app-header>

<ion-content *ngIf="solicitud">

  <ion-card>
      <ion-card-header>
          <ion-card-title> <strong>Detalle: </strong> {{solicitud.detalle}} </ion-card-title>
          <ion-card-title> <strong>Fecha: </strong> {{solicitud.fecha}} </ion-card-title>
          <ion-card-title> <strong>Estado: </strong> {{estado}} </ion-card-title>
          <ion-card-title> <strong>Socio: </strong> {{nombreSocio}} </ion-card-title>
      </ion-card-header>
      <div class="ion-padding" *ngIf="!isUser">
        <ion-button color="success" (click)="atender(solicitud.id)" *ngIf="!estadoSolicitud" expand="block" type="submit" class="ion-no-margin">
          <ion-icon name="checkmark-done-outline"></ion-icon>
            Atender solicitud
        </ion-button>
      </div>
  </ion-card>


</ion-content>

<ion-content *ngIf="!solicitud">

  <ion-card>
      <ion-card-header>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
      </ion-card-header>
  </ion-card>

</ion-content>