<app-header title="Editar solicitud"></app-header>

<ion-content *ngIf="solicitud">

  <ion-card>

    <form #f="ngForm" (ngSubmit)="actualizarSolicitud()" novalidate>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">Detalle: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" name="detalle" [(ngModel)]="solicitud.detalle"></ion-input>
        </ion-item>

        <div class="ion-padding">
          <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
            <ion-icon name="create" slot="icon-only"></ion-icon>
            Actualizar solicitud
          </ion-button>
        </div>

      </ion-list>
    </form>

  </ion-card>


</ion-content>