<app-header title="Lista de cobros"></app-header>

<ion-content>

  <ion-card *ngFor="let cobro of cobros">

    <ion-item-sliding>

      <!-- Datos cobro -->
      <ion-item>
        <ion-label>
          <strong>Fecha y hora del cobro realizado: </strong>{{cobro.fechaHora}}
          <br>
          <strong>Monto pagado: </strong> {{cobro.monto}}
        </ion-label>
      </ion-item>

    </ion-item-sliding>

  </ion-card>

  <div class="ion-padding">
    <ion-button [disabled]="!estado" color="success" expand="block" (click)="imprimir()"
      type="submit" class="ion-no-margin">
      <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      Imprimir lista
    </ion-button>
  </div>

</ion-content>
