<app-header title="Invitado"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <div class="ion-text-center ion-padding">
        <ion-text color="primary">
          <strong>“Sistema de Agua Potable Comunidad Rancho Norte”</strong>
        </ion-text>
        <br>
        <br>
        <ion-text color="primary">
          “Es una organización comunitaria que se rigen por la Ley de Juntas de
          Vecinos y demás
          Organización es Comunitarias, no persiguen fines de lucro, gozan de
          personalidad jurídica
          y sus socios ingresan y participan de forma voluntaria, personal e
          indelegable.”
        </ion-text>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card>

    <div class="carousel-item active">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Rancho Norte</h5>
        <p>El agua esta en tus manos.</p>
      </div>
    </div>

  </ion-card>

  <ion-card>

    <ion-card-header color="primary">
      <div class="ion-text-center ion-padding">
        <ion-text>
          <strong>Horarios de atención</strong>
        </ion-text>
        <br>
        <br>
        <ion-text>
          Lunes: 8:00 am - 16:00 pm
          <br>
          Martes: 8:00 am - 16:00 pm
          <br>
          Miercoles: 8:00 am - 16:00 pm
          <br>
          Jueves: 8:00 am - 16:00 pm
          <br>
          Viernes: 8:00 am - 16:00 pm
          <br>
          Sabado: 8:00 am - 16:00 pm
          <br>
        </ion-text>
      </div>
    </ion-card-header>

  </ion-card>


</ion-content>
