<app-header title="Cambio de contraseña"></app-header>

<ion-content *ngIf="usuario">

  <ion-card>

    

    <form #f="ngForm" (ngSubmit)="actualizarUsuario()" novalidate>

      <ion-card-header>
        <ion-text>
          Una vez cambiado la contraseña no podra cambiarlo. 
          <br>
          Se recomienda guardarlo en un lugar seguro.
        </ion-text>
      </ion-card-header>

      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">Contraseña: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <div class="ion-padding">
          <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
              <ion-icon name="create" slot="icon-only"></ion-icon>
              Actualizar
          </ion-button>
      </div>

      </ion-list>
    </form>

  </ion-card>


</ion-content>

<ion-content *ngIf="!usuario">

  <ion-card>
      <ion-card-header>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
          <ion-card-title> <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text> </ion-card-title>
      </ion-card-header>
  </ion-card>

</ion-content>