<app-header title="Editar comunicado"></app-header>

<ion-content *ngIf="comunicado">

  <ion-card>

    <form #f="ngForm" (ngSubmit)="actualizarComunicado()" novalidate>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">Descripcion: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text" name="descripcion" [(ngModel)]="comunicado.descripcion"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Fecha de inicio: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="date" name="fechaInicio" [(ngModel)]="comunicado.fechaInicio"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Vigencias (dias): <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="number" name="vigencia" [(ngModel)]="comunicado.vigencia"></ion-input>
      </ion-item>

      <div class="ion-padding">
          <ion-button color="success" expand="block" type="submit" class="ion-no-margin"
              [disabled]="!f.valid">
              <ion-icon name="create" slot="icon-only"></ion-icon>
              Actualizar comunicado
          </ion-button>
      </div>

      </ion-list>
    </form>

  </ion-card>


</ion-content>