<app-header title="Asignar medidor"></app-header>

<ion-content>
    <ion-card>
        <form #f="ngForm" (ngSubmit)="asignarMedidor()" novalidate>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">

                <ion-item>
                    <ion-label position="floating">Serial: <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="text" name="serial" [(ngModel)]="serial"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Marca: <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="text" name="marca" [(ngModel)]="marca"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Registro Inicio: <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="number" name="registroInicio" [(ngModel)]="registroInicio"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Fecha de instalacion: <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required type="date" name="fechaInstalacion" [(ngModel)]="fechaInstalacion">
                    </ion-input>
                </ion-item>

                <div class="ion-padding">
                    <ion-button color="success" expand="block" type="submit" class="ion-no-margin"
                        [disabled]="!f.valid">
                        <ion-icon name="create" slot="icon-only"></ion-icon>
                        Asignar
                    </ion-button>
                </div>

            </ion-list>
        </form>
    </ion-card>
</ion-content>
